<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="nav">
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('new_ticket') }}">New Ticket</a>
            <a href="{{ url_for('view_tickets') }}">View Tickets</a>
            <a href="{{ url_for('new_job') }}">View Jobs</a> 
        </nav>
    </header>

    <h1 class="page-title">Job List</h1>

    {% if jobs %}
    <div class="card-container">

        {% for j in jobs %}
        <div class="job-card">

            <div class="job-header">
                <span class="job-id">#{{ j.id }}</span>
                
            </div>
            <div>
                <span class="job-title">{{ j.name }}</span>
            </div>
            <div class="job-info">
                <strong>Operator:</strong> {{ j.operator }}
            </div>

            <div class="job-info">
                <strong>Description:</strong><br>
                <span>{{ j.description }}</span>
            </div>

            <div class="job-info">
                <strong>Impact:</strong> {{ j.impact }}
            </div>

            <div class="job-info">
                <strong>Impact on Customer:</strong> {{ j.impact_customer }}
            </div>

            {% if j.impact_desc %}
            <div class="job-info">
                <strong>Impact Details:</strong><br>
                <span>{{ j.impact_desc }}</span>
            </div>
            {% endif %}

            <div class="job-info">
                <strong>Start Time:</strong> {{ j.start_time }}<br>
                <strong>End Time:</strong> {{ j.end_time }}
            </div>

            <form action="{{ url_for('delete_job', job_id=j.id) }}" method="POST" class="delete-section">
                <button type="submit" class="delete-btn"
                    onclick="return confirm('Delete this job permanently?');">
                    Delete
                </button>
            </form>

        </div>
        {% endfor %}

    </div>

    {% else %}
        <p style="text-align:center;">No jobs yet.</p>
    {% endif %}

    <div class="center-wrapper">
         <button id="openJobModal" class="btn-primary">New Job</button>
    </div>
</body>

<script>
        document.getElementById("openJobModal").onclick = function() {
            document.getElementById("jobModal").style.display = "block";
        }

        document.getElementById("closeJobModal").onclick = function() {
            document.getElementById("jobModal").style.display = "none";
        }
</script>

</html>