{% extends "base.html" %}

{% block title %}New Ticket{% endblock %}

{% block content %}
<h1 class="page-title">Create a New Ticket</h1>

<form method="POST" class="form-card">

    <label>Title</label>
    <input type="text" name="title" required>

    <label>Description</label>
    <textarea name="description" rows="4" required></textarea>

    <label>Severity</label>
    <select name="severity" required>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>

    <button type="submit" class="btn-primary">Create Ticket</button>

</form>
{% endblock %}
