{% extends "base.html" %}

{% block title %}View Tickets{% endblock %}

{% block content %}

<h1 class="page-title">All Tickets</h1>

{% if tickets %}
    <ul class="ticket-list">
    {% for t in tickets %}
       <li class="ticket-card">

          <div class="ticket-id">INC{{ t.id }}</div>

          <div class="ticket-content">
              <div class="ticket-row">
                  <strong class="ticket-title">{{ t.title }}</strong>
                  <span class="ticket-severity severity-{{ t.severity }}">{{ t.severity|capitalize }}</span>
              </div>

              <p class="ticket-desc">{{ t.description }}</p>

              <!-- Add this -->
              <div class="ticket-actions">
                  <form action="{{ url_for('delete_ticket', ticket_id=t.id) }}" method="POST">
                      <button class="delete-btn">Delete</button>
                  </form>
              </div>
          </div>

      </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tickets yet.</p>
{% endif %}

{% endblock %}
